/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}



/* Form container styling */
.styled-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form_input {
    width: 70%;
}

/* Label styling */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Input styling */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* Checkbox group styling */
.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.form-group-content {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* Select box specific styling */
.form-control select {
    -webkit-appearance: none; /* Remove default styles for WebKit browsers */
    -moz-appearance: none; /* Remove default styles for Firefox */
    appearance: none; /* Remove default styles for modern browsers */
    background-color: #fff; /* Set background color */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZD0iTTAgMEwgMTAwIDEwMEwgMTAwIDBMIDAgMEwiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXI9InJvdW5kIiBzdHJva2UtY29sb3I9IjEyMyIgLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

/* Remove default border for select on focus */
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

